target/
output/
logs/
*.db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target

# Java template
.class
.exe
.log
.classpath
/**/.factorypath
/**/.springBeans
.settings
.metadata
Thumb.db
.project
*.iml
.idea
*.classpath
*.project
.externalToolBuilders/
*.log
.DS_Store
*/target/
*.flattened-pom.xml

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/